.nav-item {
padding-right: 1rem;
list-style: none;
color: black;
}
.nav-item:hover {
padding-right: 1rem;
list-style: none;
color: #707070;
}

.collapse {
font-size: 1.4rem;
}
.d-flex {
margin-bottom: auto;
margin-top: auto; }

.aaa {
background-color: black;
padding-top: 18rem;
width: 8rem;
}

